svg.graphdiagram {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 50px;
}

.tools {
    z-index: 100;
    position: absolute;
    min-width: 400px;
    right: 10px;
    top: 10px;
    padding: 10px;
    background-color: rgba(255, 253, 253, 0.76);
}

.tools textarea {
    width: 154px;
}

.tool {
    z-index: 100;
    margin: 10px 0px 0px 0px;
    padding: 10px;
    text-align: right;
    border-radius: 4px;
}

.tool .btn#sb_node_cancel,
.tool .btn#sb_node_save,
.tool .btn#sb_relationship_cancel,
.tool .btn#sb_relationship_save {
    float: left;
}

.colorpicker {
    z-index: 100;
}

.modal.pop-up-editor.node {
    position: absolute;
}

.modal.export-markup {
    position: absolute;
    /*width: 800px;
    margin-left: -400px;
    */
}

.modal.export-markup .modal-body {
    overflow: hidden;
    max-height: 70%;
}

p.button-row {
    text-align: right;
}

textarea.code {
    padding: 0;
    resize: none;
    width: 760px;
    border: none;
    box-shadow: none;
    font-family: Menlo, monospace;
    font-size: 10pt;
}

.top-right-btn-bar {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
}

.top-right-btn-bar .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}

circle.node.overlay:hover {
    fill: rgba(51, 153, 255, 0.4);
    cursor: pointer;
}

circle.node.ring:hover {
    stroke: rgba(232, 150, 25, 0.4);
    cursor: pointer;
}

path.relationship.overlay:hover {
    fill: rgba(51, 153, 255, 0.4);
    stroke: rgba(51, 153, 255, 0.4);
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.btn-primary {
    background-color: rgba(232, 150, 25, 0.4);
    border-color: rgba(232, 150, 25, 0.4);
    color: #000;
}

.btn.custom {
    background-color: rgba(51, 153, 255, 0.4);
    border-color: rgba(51, 153, 255, 0.4);
}

.btn-danger {
    background-color: rgba(217, 83, 79, 0.4);
    border-color: rgba(217, 83, 79, 0.4);
    color: #000;
}

.popover {
    max-width: 400px;
}

.popover li {
    list-style: none;   
}

#button-bar {
    margin-bottom: 15px;
}

#alert-messages {
  position: fixed;
  bottom: 50px;
  left: 0;
  right: 0;
  z-index: 7000;
}

.alert {
    margin-bottom: 0;
}

/*
causes bootstrap "collapse" to 'snap', instead of close smoothly
#panel {
    padding-top: 5px;
}
*/

#about-modal .modal-dialog {
    padding-top: 10px;
}

.modal-backdrop {
    background-color: rgba(51, 153, 255, 0.2);
}

#footer {
  height: 50px;
  background-color: rgba(255, 253, 253, 0.76);
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
  padding: 15px 15px 15px 15px;
}

#footer .container {
  width: auto;
  max-width: 680px;
}

/*
TODO - make checkboxes pretty
input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    background:url(check_radio_sheet.png) left top no-repeat;
}
*/
