{% extends "layout.html" %}
  
  {% block extracss %}
  <link rel="stylesheet" href="{{url_for('ga_arrows.static', filename='css/graph-diagram.css')}}" type="text/css">
  <link rel="stylesheet" class="graph-style" href= "{{url_for('ga_arrows.static', filename='css/graph-style-chunky.css')}}" type="text/css">
  <link rel="stylesheet" href="{{url_for('ga_arrows.static', filename='css/graph-editor.css')}}" type="text/css">
  {% endblock extracss %}

{% block body %}

<div class="tools form-inline well">
  <button class="btn" id="add_node_button"><i class="icon-plus"></i> Node</button>
  <button class="btn" id="exportMarkupButton">Export Markup</button>
  <button class="btn" id="exportSvgButton">Export SVG</button>
  <label for="internalScale">Internal Scale</label>
  <input id="internalScale" type="range" min="0.1" max="5" value="1" step="0.01">
</div>

<!--<input id="node_name_editor" class="editor-field">-->

<div class="modal hide export-markup">
  <div class="modal-header">
    <h3>Edit/Export markup</h3>
  </div>
  <div class="modal-body">
    <textarea class="code">Some text</textarea>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn cancel">Cancel</a>
    <a href="#" class="btn btn-primary" id="save_markup">Save</a>
  </div>
</div>

<aside class="sidebar">
  <div class="nodeeditor hide">
    <div class="nodedata">
      <ul>
        <li>
          <label for="sb_node_labels">Node Labels</label>
          <input id="sb_node_labels" type="text"></input>
        </li>
        <li>
          <label for="sb_node_properties">Node Properties</label>
          <input id="sb_node_properties" type="text"></input>
        </li>
        <li>
          <label for="sb_node_caption">Node Caption</label>
          <input id="sb_node_caption" type="text"></input>
        </li>
        <li>
          <label for="sb_node_fill_color">Node Fill Color</label>
          <input id="sb_node_fill_color" type="text"></input>
        </li>
        <li>
          <label for="sb_node_line_color">Node Line Color</label>
          <input id="sb_node_line_color" type="text"></input>
        </li>
      </ul>
    </div>
    <a href="#" class="btn cancel" id="sb_node_cancel">Cancel</a>
    <a href="#" class="btn btn-primary" id="sb_node_save">Save</a>
    <a href="#" class="btn btn-danger" id="sb_node_delete">Delete</a>
  </div>
  <div class="relationshipeditor hide">
    <div class="relationshipdata">
      <ul>
        <li>
          <label for="sb_relationship_type">Relationship Type</label>
          <input id="sb_relationship_type" type="text"></input>
        </li>
        <li>
          <label for="sb_relationship_properties">Relationship Properties</label>
          <input id="sb_relationship_properties" type="text"></input>
        </li>
        <li>
          <label for="sb_relationship_caption">Relationship Caption</label>
          <input id="sb_relationship_caption" type="text"></input>
        </li>
        <li>
          <label for="sb_relationship_line_color">Relationship Line Color</label>
          <input id="sb_relationship_line_color" type="text"></input>
        </li>
      </ul>
    </div>
    <a href="#" class="btn cancel" id="sb_relationship_cancel">Cancel</a>
    <a href="#" class="btn btn-primary" id="sb_relationship_save">Save</a>
    <a href="#" class="btn" id="sb_relationship_reverse">Reverse</a>
    <a href="#" class="btn btn-danger" id="sb_relationship_delete">Delete</a>
  </div>
</aside>

<div class="modal export-markup">
  <div class="modal-dialog">
    <div class="modal-content">  
      <div class="modal-header">
        <h3>Edit/Export markup</h3>
      </div>
      <div class="modal-body">
        <textarea class="code">Some text</textarea>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn cancel">Cancel</a>
        <a href="#" class="btn btn-primary" id="save_markup">Save</a>
      </div>
    </div>
  </div>
</div>

<div class="modal choose-style">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Choose Style</h3>
      </div>
      <div class="modal-body">
        <label class="radio">
          <input type="radio" name="styleChoice" value="graph-style-chunky.css" checked>
          Chunky
        </label>
        <label class="radio">
          <input type="radio" name="styleChoice" value="graph-style-bootstrap.css">
          Bootstrap
        </label>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn cancel">Cancel</a>
        <a href="#" class="btn btn-primary" id="saveStyle">Save</a>
      </div>
    </div>
  </div>
</div>

<div class="modal pop-up-editor node" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Edit Node</h3>
      </div>
      <div class="top-right-btn-bar">
        <button class="btn btn-danger" id="edit_node_delete">Delete</button>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="node_caption">Caption</label>
            <div class="controls">
              <input id="node_caption" type="text" value="A">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="node_properties">Properties</label>
            <div class="controls">
              <textarea id="node_properties" rows="6"></textarea>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="node_fill_color">Fill Color</label>
            <div class="controls">
              <input id="node_fill_color" type="text" placeholder="rgb, rgba, or hex">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="node_line_color">Line Color</label>
            <div class="controls">
              <input id="node_line_color" type="text" placeholder="rgb, rgba, or hex">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn cancel">Cancel</a>
        <a href="#" class="btn btn-primary" id="edit_node_save">Save</a>
      </div>
    </div>
  </div>
</div>

<div class="modal pop-up-editor relationship" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Edit Relationship</h3>
      </div>
      <div class="top-right-btn-bar">
        <button class="btn" id="edit_relationship_reverse">Reverse</button>
        <button class="btn btn-danger" id="edit_relationship_delete">Delete</button>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="relationship_type">Type</label>
            <div class="controls">
              <input id="relationship_type" type="text" value="R">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="relationship_properties">Properties</label>
            <div class="controls">
              <textarea id="relationship_properties" rows="6"></textarea>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="relationship_line_color">Line Color</label>
            <div class="controls">
              <input id="relationship_line_color" type="text" placeholder="rgb, rgba, or hex">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn cancel">Cancel</a>
        <a href="#" class="btn btn-primary" id="edit_relationship_save">Save</a>
      </div>
    </div>
  </div>
</div>

<div id="canvas">
</div>


{% block scripts %}
{{super()}}
  <script type="text/javascript" src="{{url_for('ga_arrows.static', filename='js/d3.v3.js')}}"></script>
  <script type="text/javascript" src="{{url_for('ga_arrows.static', filename='js/graph-diagram.js')}}"></script>
  <script type="text/javascript" src="{{url_for('ga_arrows.static', filename='js/graph-editor.js')}}"></script>
{% endblock scripts %}

{% endblock body %}
